<% if signed_in? %>
  <div class="row">
    <aside>

      <h1>Welcome Family</h1>
      <h2>Kodsantoa/Srichiphan Family Webpage</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/blog_form' %>
      </section>
    </aside>
  </div>  
<% else %>
  <div class="center hero-unit">
<% end %>

