<!DOCTYPE html>
<html>
  <head>
    <title>Kodsantoa/Srichiphan Family Webpage </title>
  </head>
  <body>
    <h1>Welcome Family</h1>
    <h2>Kodsantoa/Srichiphan Family Webpage</h2>
    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>
  </body>
</html>